<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-installation-heading" data-cy="InstallationCreateUpdateHeading">Create or edit a Installation</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dateDebut">Date Debut</label>
          <div class="d-flex">
            <input
              id="field_dateDebut"
              data-cy="dateDebut"
              type="datetime-local"
              class="form-control"
              name="dateDebut"
              formControlName="dateDebut"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('dateDebut')!.invalid && (editForm.get('dateDebut')!.dirty || editForm.get('dateDebut')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('dateDebut')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('dateDebut')?.errors?.ZonedDateTimelocal">
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dateFin">Date Fin</label>
          <div class="d-flex">
            <input
              id="field_dateFin"
              data-cy="dateFin"
              type="datetime-local"
              class="form-control"
              name="dateFin"
              formControlName="dateFin"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_parcelle">Parcelle</label>
          <select class="form-control" id="field_parcelle" data-cy="parcelle" name="parcelle" formControlName="parcelle">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="parcelleOption.id === editForm.get('parcelle')!.value?.id ? editForm.get('parcelle')!.value : parcelleOption"
              *ngFor="let parcelleOption of parcellesSharedCollection; trackBy: trackParcelleById"
            >
              {{ parcelleOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_boitier">Boitier</label>
          <select class="form-control" id="field_boitier" data-cy="boitier" name="boitier" formControlName="boitier">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="boitierOption.id === editForm.get('boitier')!.value?.id ? editForm.get('boitier')!.value : boitierOption"
              *ngFor="let boitierOption of boitiersSharedCollection; trackBy: trackBoitierById"
            >
              {{ boitierOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
