<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="notification">
      <h2 data-cy="notificationDetailsHeading"><span>Notification</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ notification.id }}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
          <span>{{ notification.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Content</span></dt>
        <dd>
          <span>{{ notification.content }}</span>
        </dd>
        <dt><span>Vu</span></dt>
        <dd>
          <span>{{ notification.vu }}</span>
        </dd>
        <dt><span>Parcelle</span></dt>
        <dd>
          <div *ngIf="notification.parcelle">
            <a [routerLink]="['/parcelle', notification.parcelle?.id, 'view']">{{ notification.parcelle?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/notification', notification.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
