<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="boitier">
      <h2 data-cy="boitierDetailsHeading"><span>Boitier</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ boitier.id }}</span>
        </dd>
        <dt><span>Ref</span></dt>
        <dd>
          <span>{{ boitier.ref }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ boitier.type }}</span>
        </dd>
        <dt><span>Nbr Branch Boitier</span></dt>
        <dd>
          <span>{{ boitier.nbrBranchBoitier }}</span>
        </dd>
        <dt><span>Nbr Branch Arduino</span></dt>
        <dd>
          <span>{{ boitier.nbrBranchArduino }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ boitier.code }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/boitier', boitier.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
