<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="plantage">
      <h2 data-cy="plantageDetailsHeading"><span>Plantage</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ plantage.id }}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
          <span>{{ plantage.date | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Nombre</span></dt>
        <dd>
          <span>{{ plantage.nombre }}</span>
        </dd>
        <dt><span>Parcelle</span></dt>
        <dd>
          <div *ngIf="plantage.parcelle">
            <a [routerLink]="['/parcelle', plantage.parcelle?.id, 'view']">{{ plantage.parcelle?.id }}</a>
          </div>
        </dd>
        <dt><span>Plante</span></dt>
        <dd>
          <div *ngIf="plantage.plante">
            <a [routerLink]="['/plante', plantage.plante?.id, 'view']">{{ plantage.plante?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/plantage', plantage.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
